@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    direction: rtl;
    font-family: "Arimo", sans-serif;
    background: #ffffff;
    color: #000000;
}

body.dark-mode {
    background: #181818;
    color: #f1f1f1;
}

.name-list {
    padding: 0;
}

.name-list > div {
    padding: 8px;
    margin: 5px 0;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 100;
}

.dark-mode .name-list > div {
    background: #333333;
    border: 1px solid #444444;
}

.status-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    direction: rtl;
    text-align: right;
}

.status-table th, .status-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.status-table th {
    background: #f4f4f4;
}

.dark-mode .status-table th, .dark-mode .status-table td {
    border: 1px solid #444444;
    background: #333333;
    color: #f1f1f1;
}

.navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
}

.navbar {
    margin-bottom: 1rem;
}

.dark-mode .navbar {
    background: #222222;
    color: #f1f1f1;
}

footer {
    font-weight: 700;
    margin-top: 20px;
}

.dark-mode footer {
    background: #222222;
    color: #f1f1f1;
}

body, .card, .navbar {
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .name-list > div {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .name-list > div {
        flex: 1 1 calc(100% - 20px);
    }

    .status-table th, .status-table td {
        padding: 6px;
    }
}
