<footer class="text-center text-white ">
    <div class="container pt-4">
      <section class="mb-4">
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://dev.azure.com/Sigit16/"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="static/azure_devops_logo.png" width="50" height="50"></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://portal.azure.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><img src="static/azure.svg" width="30" height="30"></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/omega.thebest/"
          role="button"
          data-mdb-ripple-color="dark"
          ><img src="static/instagram.png" width="30" height="30"></a>
          <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://57.153.200.190/"
          role="button"
          data-mdb-ripple-color="dark"
          ><img src="static/hive.svg" width="90" height="30"></a>
      </section>
    </div>
    <div class="text-center text-white bg-primary p-3">
      נבנה על ידי אור אספרנסה ורועי בלום &copy;
    </div>
  </footer>