<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>רשימת כיתה</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">SIGIT MATZAL</a>



    </nav>

    <div class="container">
        <h1 class="mb-4">רשימת כיתה</h1>
        <a href="{{ url_for('matzal') }}" class="btn btn-outline-primary mb-4">הצג מצ"ל נוכחי</a>
        <p>נוכחים: <span id="inListCount" class="badge bg-primary">{{ present_count }}</span></p>

        <h3 class="mt-4">סטטוס כיתה</h3>
        <div id="nameList" class="row name-list">
                {% for name, status in names.items() %}
                    <div class="mx-3 my-2 col-lg-2 col-md-4 col-sm-6">{{ name }} - {{ status }}</div>
                {% endfor %}
        </div>

        <p class="mt-4">חסרים: <span id="removedCount" class="badge bg-danger">{{ removed_count }}</span></p>

        <div class="mb-3">
            <input type="text" id="nameInput" class="form-control mb-2" placeholder="הכנס שם">
            <select id="statusInput" class="form-select mb-2">
                <option value="נוכח">בכיתה</option>
                <option value="שירותים">שירותים</option>
                <option value="בהפסקה">בהפסקה</option>
                <option value="אחר">אחר</option>
            </select>
            <input type="text" id="reasonInput" class="form-control mb-2" placeholder="הכנס סיבה" style="display:none;">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button onclick="addName()" class="btn btn-primary me-2">ערוך סטטוס</button>
                <button onclick="resetNamesPrompt()" class="btn btn-danger me-2">אפס רשימה</button>
                <button onclick="showTables()" class="btn btn-success">הצג חסרים</button>
            </div>
        </div>

        <div id="tablesContainer"></div>

    </div>

    <script>
        const allNames = {{ all_names | tojson | safe }};
        const namesData = {{ names | tojson | safe }};

        $(document).ready(function() {
            // Autocomplete function for the name input field
            $("#nameInput").autocomplete({
                source: function(request, response) {
                    let filteredNames = allNames.filter(name => name.startsWith(request.term));

                    if(filteredNames.length === 0)
                        filteredNames = allNames.filter(name => name.includes(request.term)); 

                    response(filteredNames.slice(0, 10));
                }
            });

            // Show or hide the reason input field based on the selected status
            $('#statusInput').change(function() {
                if ($(this).val() === 'אחר') {
                    $('#reasonInput').show();
                } else {
                    $('#reasonInput').hide();
                }
            });

            // Initial data update when the page loads
            updateList(namesData);
        });

        // Function to update the list of names and their statuses
        function updateList(names) {
            const nameList = $('#nameList');
            nameList.empty();

            // Sort the names alphabetically
            const sortedNames = Object.entries(names).sort((a, b) => a[0].localeCompare(b[0]));

            // Create list items for each name and their status
            for (const [name, status] of sortedNames) {
                const listItem = $('<div>').text(`${name} - ${status}`).addClass('mx-3 my-2 col-lg-2 col-md-4 col-sm-6');
                nameList.append(listItem);
            }

            // Update the counts of present and removed students
            $('#inListCount').text(Object.values(names).filter(status => status === 'נוכח').length);
            $('#removedCount').text(Object.values(names).filter(status => status !== 'נוכח').length);
        }

        // Function to handle adding or updating a name's status
        function addName() {
            const nameInput = $('#nameInput').val().trim();
            const statusInput = $('#statusInput').val();
            let reasonInput = $('#reasonInput').val().trim();

            if (statusInput === 'אחר' && reasonInput === '') {
                alert('הכנס סיבה בבקשה.');
                return;
            }

            const status = reasonInput ? `${statusInput} - ${reasonInput}` : statusInput;

            if (nameInput === '') {
                alert('הכנס שם בבקשה.');
                return;
            }

            // Perform an AJAX POST request to update the name's status
            $.post('/update', { name: nameInput, status: status, reason: reasonInput }, function() {
                location.reload(); // Reload the page to reflect the updated data
            }).fail(function(response) {
                alert(response.responseJSON.error);
            });
        }

        // Function to handle resetting the names list
        function resetNamesPrompt() {
            const password = prompt('הכנס סיסמה:');
            if (password) {
                $.post('/reset', { password: password }, function(response) {
                    if (response.success) {
                        location.reload(); // Reload the page to reflect the reset data
                    } else {
                        alert('סיסמה שגויה.');
                    }
                });
            }
        }

        // Function to show the status tables for non-present students
        function showTables() {
            const tablesContainer = $('#tablesContainer');
            tablesContainer.empty();

            const statuses = {
                'שירותים': [],
                'בהפסקה': [],
                'אחר': []
            };

            $('#nameList > div').each(function() {
                const [name, ...parts] = $(this).text().split(' - ');
                const mainStatus = parts[0];
                const reason = parts.length > 1 ? parts.slice(1).join(' - ') : '';

                if (mainStatus !== 'נוכח') {
                    if (!statuses[mainStatus]) {
                        statuses[mainStatus] = [];
                    }
                    if (mainStatus !== 'שירותים' && mainStatus !== 'בהפסקה') {
                        statuses['אחר'].push(`${name} - ${reason}`);
                    } else {
                        statuses[mainStatus].push(`${name} - ${mainStatus}`);
                    }
                }
            });

        for (const [status, names] of Object.entries(statuses)) {
            if (names.length > 0) {

                const row = $('<div>').text(`${status} (${names.length})`).addClass("row name-list");
                row.append($('<hr my-2>'))
                names.forEach(name => {
                    const name_box = $('<div>').text(name).addClass("mx-3 my-2 col-lg-2 col-md-4 col-sm-6");
                    row.append(name_box);
                });
                tablesContainer.append(row);
            }
        }
    }
        
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
