<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מצל סיגיט</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='stylesheet_mazal.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-dark bg-primary d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="https://www.mitgaisim.idf.il/%D7%AA%D7%A4%D7%A7%D7%99%D7%93%D7%99%D7%9D/%D7%9E%D7%A1%D7%9C%D7%95%D7%9C-%D7%90%D7%95%D7%9E%D7%92%D7%94/">
            <img src="/static/favicon.ico" width="45" height="45" alt="" class="mx-2">
            <label class="navbar-label">סיגיט מצ"ל</label>
        </a>
        <div class="mx-3">
            <button id="theme-toggle" class="btn btn-light matzal-btn">
                <i id="theme-icon" class="fas fa-moon"></i>
            </button>
            <a href="{{ url_for('index') }}" class="btn btn-light matzal-btn">עמוד הבית</a>
        </div>
    </nav>

    <div class="card">
        <button class="clipboard_btn btn btn-outline-primary" onclick="copy_to_clipboard()">העתק</button>
        <div id="clipboard_data">
        <div id="current-date"></div>
        <div id="current-datetime"></div>
        <div class="card-title">מצבה קורס סיגיט</div>
        <strong class="matzan" id="matzal">מצל: {{ status_card.course_status.total_count }}</strong><br>
        <strong class="matzan" id="matzan">מצן: {{ status_card.course_status.present_count }}</strong><br>
        <strong class="matzan" id="missing">חסרים: {{ status_card.course_status.missing_count }}</strong><br>

        <div class="row">
            <div>
                <strong>פירוט:</strong>
                <ul id="nameList">
                </ul>
            </div>
        </div>
        <input class="name-placeholder" id="hantar_name" placeholder="שם החנטר">
        
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>

        function copy_to_clipboard(){
            var clipboardContent = document.getElementById("clipboard_data").innerText;

            var inputText = document.querySelector("#hantar_name").value;            
            clipboardContent += "\n" + inputText;
            
            var tempTextarea = document.createElement("textarea");
            tempTextarea.value = clipboardContent;

            document.body.appendChild(tempTextarea);

            tempTextarea.select();
            tempTextarea.setSelectionRange(0, 99999);

            document.execCommand("copy");
            document.body.removeChild(tempTextarea);
        }

        document.addEventListener("DOMContentLoaded", function() {
            const themeToggle = document.getElementById('theme-toggle');
            const themeIcon = document.getElementById('theme-icon');
            const currentTheme = localStorage.getItem('theme');
        
            if (currentTheme === 'dark') {
                document.body.classList.add('dark-mode');
                themeIcon.classList.remove('fa-moon');
                themeIcon.classList.add('fa-sun'); 
            }
        
            themeToggle.addEventListener('click', function() {
                document.body.classList.toggle('dark-mode');
                
                if (document.body.classList.contains('dark-mode')) {
                    themeIcon.classList.remove('fa-moon');
                    themeIcon.classList.add('fa-sun'); 
                    localStorage.setItem('theme', 'dark');
                } else {
                    themeIcon.classList.remove('fa-sun');
                    themeIcon.classList.add('fa-moon'); 
                    localStorage.setItem('theme', 'light');
                }
            });
        });        
        
        $(document).ready(function() {
            if ($(window).width() > 480) {
                const blendModes = ["color-burn", "darken", "difference", "exclusion", "hard-light", "luminosity", "multiply", "normal"];
                const randomBlendMode = blendModes[Math.floor(Math.random() * blendModes.length)];
                $('body').css('background-blend-mode', randomBlendMode);
            }

            function updateList(data) {
                const $container = $("#nameList");
                
                $container.empty();
                if (data.course_status.bathroom && data.course_status.bathroom.length > 0) {
                    const $li = $('<li></li>').text(`שירותים: ${data.course_status.bathroom.join(', ')}`);
                    $container.append($li);
                }

                if (data.course_status.break_time && data.course_status.break_time.length > 0) {
                    const $li = $('<li></li>').text(`בהפסקה: ${data.course_status.break_time.join(', ')}`);
                    $container.append($li);
                }

                if (data.course_status.technical_issue && data.course_status.technical_issue.length > 0) {
                    const $li = $('<li></li>').text(`תקלה טכנית: ${data.course_status.technical_issue.join(', ')}`);
                    $container.append($li);
                }

                if (data.course_status.other && data.course_status.other.length > 0) {
                    const $li = $('<li></li>').text(`אחר: ${data.course_status.other.join(', ')}`);
                    $container.append($li);
                }
            }

            function update_matzal(data) {
                const currentDate = new Date();
                const dd = String(currentDate.getDate()).padStart(2, "0");
                const mm = String(currentDate.getMonth() + 1).padStart(2, "0");
                const yyyy = currentDate.getFullYear();
                const today = `${dd}/${mm}/${yyyy}`;

                const currentHours = ('0' + currentDate.getHours()).slice(-2);
                const currentMinutes = ('0' + currentDate.getMinutes()).slice(-2);

                $('#matzal').text(`מצל: ${data.course_status.total_count}`);
                $('#matzan').text(`מצן: ${data.course_status.present_count}`);
                $('#missing').text(`חסרים: ${data.course_status.missing_count}`);

                $('#current-date').text(today);
                $('#current-datetime').text(`${currentHours}:${currentMinutes}`);
            }

            function fetchUpdates() {
                fetch('/api/matzal') 
                    .then(response => response.json())
                    .then(data => {
                        updateList(data);
                        update_matzal(data);
                    })
                    .catch(error => console.error('Error fetching updates:', error));
            }
            fetchUpdates();
            setInterval(fetchUpdates, 5000); 
        });
    </script>
</body>
</html>
