<nav class="navbar navbar-dark bg-primary d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="https://www.mitgaisim.idf.il/%D7%AA%D7%A4%D7%A7%D7%99%D7%93%D7%99%D7%9D/%D7%9E%D7%A1%D7%9C%D7%95%D7%9C-%D7%90%D7%95%D7%9E%D7%92%D7%94/">
        <img src="/static/favicon.ico" width="45" height="45" alt="" class="mx-2">
        <label class="navbar-label">סיגיט מצ"ל</label>
    </a>
    <div class="mx-3">
        <button id="theme-toggle" class="btn btn-light matzal-btn">
            <i id="theme-icon" class="fas fa-moon"></i>
        </button>
        <a href="{{ url_for('matzal') }}" class="btn btn-light matzal-btn">הצג מצ"ל נוכחי</a>
    </div>
</nav>